*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blanchedalmond;
}
.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add-task-container{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 1rem 2rem;
}
.add-task-container input{
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
}
.add-task-container button{
    padding:1rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
}
.add-task-container button:hover{
    padding:1rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: bisque;
    transform: 0.5s;
}