*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blanchedalmond;
}
.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#add-task-container{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 1rem 2rem;
    margin-bottom: 5px ;
    border-radius: 2rem;
}
#add-task-container input{
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
}
#add-task-container button{
    padding:1rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
}
.task{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.5rem;
    margin: 10px;
    margin-bottom: 2rem;
}
.task button{
    content:"+";
    flex: 1;
    border-radius: 5px;
    width:3rem;
}